aiofiles
aiohttp
beautifulsoup4
dnspython
motor
pillow
psutil
py-tgcalls
pykeyboard
pyrofork>=2.3.69
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
py-yt-search
youtube-search
youtube-search-python
httpx
