aiofiles
aiohttp
beautifulsoup4
dnspython
gitpython
hachoir
motor
pillow
psutil
py-tgcalls
pykeyboard
pyrofork
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
py-yt-search
youtube-search
youtube-search-python
httpx
