API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=
SHRUTI_API_KEY= #Get From telegram @SHRUTIAPIBOT 
ENABLE_TG_SCRAP_PLAY=True
VK_MUSIC_BOT=vkmusic_bot
TG_SCRAP_MENU_TIMEOUT=15
TG_SCRAP_TIMEOUT=30
